.contact-page-header h1 {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid black 2px;
    border-radius: 45px;
    max-width: fit-content;
    margin: 2rem auto;
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.contact-page-container-info {
    text-align: left;
}

.contact-page-container-info p,
.contact-page-container-info a {
    font-size: 20px;
}

.contact-page-container-info h3 {
    font-size: 30px;
}

@media (max-width: 992px) {
    .contact-page-header h1 {
        font-size: 1.5rem;
        width: 80%;
        text-align: center;
    }

    .contact-page-container-info p,
    .contact-page-container-info a {
        font-size: 16px;
    }
}