.contact-page-header h1 {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid black 2px;
    border-radius: 45px;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.main-contact-page-container {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

.main-contact-page-container p,
.main-contact-page-container a {
    font-size: 20px;
}

.main-contact-page-container h3 {
    font-size: 30px;
}

.personal-information {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid black 2px;
    border-radius: 8px;
    padding: 0.5rem;
}

.personal-information p {
    margin: 0;
}

.email,
.location-details,
.time-zone-details,
.linkedIn-link {
    margin-left: 0.25rem;
}

.contact-form-container h3 {
    margin: 0;
    margin-top: 1.5rem;
}

.input-form {
    border: solid black 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.input-form p {
    margin: 0;
}

.input-name,
.input-email,
.input-message {
    width: 100%;
    font-size: 20px;
}

.linkedIn-link {
    text-decoration: none;
}

.submit-button {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid black 2px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: fit-content;
    transition: background-color 0.3s ease
}

.submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}