.about-page-header h1 {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid black 2px;
    border-radius: 45px;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem 2rem;
    margin-top: 3rem;
}

.about-info {
    display: flex;
    flex-wrap: wrap;
}

.about-info div {
    border: solid dodgerblue 2px;
    background-color: rgba(30, 144, 255, 0.2);
    border-radius: 50px;
    width: 40%;
    font-size: 23px;
    margin: 1rem auto;
    text-align: left;
    padding: 2rem;
    align-self: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);

}